<header>Angular Reactive Form</header>
<ul>
  <li><a routerLink="/SimpleReactiveFormComponent">SimpleReactiveFormComponent</a></li>
  <li><a routerLink="/ValidationInFormsComponent">ValidationInFormsComponent</a></li>
  <li><a routerLink="/GroupingInputComponent">GroupingInputComponent</a></li>
  <li><a routerLink="/DynamicallyAddFormControlComponent">DynamicallyAddFormControlComponent</a></li>
  <li><a routerLink="/CustomValidationComponent">CustomValidationComponent</a></li>
</ul>
<router-outlet></router-outlet>
